body{
    text-align: center;
}
ul{
    padding:1vh;
    width: 300px;
    text-align: left;
}
.navimage{
    width:30px;
    height:30px;
}
.imageToDisplay{
    height: 93vh;
    width: 47vw;
}
.bluebutton{
    background-color: rgb(79, 117, 203);
}
.child{
    margin-left: 20px;
}
#input_title {caret-color: transparent;border:0;outline:0;
             text-align:center;}
#input_title:focus {outline:none!important;}

/* #navigation{
    position: relative;
    top: 0%;
    margin-right:50px;
    bottom:10%;
    transform: translateY(-150%);
} */
span{
    display:inline-block;
    font-size:14px;
    width:270px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.main{
    display: flex;
    justify-content: center;
}